# General
venv
.idea
__pycache__
.vscode
dist
build
*.egg-info

# Generated Database File
*.db

# Testing Files
*test*
templates/index.html
templates/events.html

# Generated Class HTML
templates/*class*.html

# Credential Files (Google Calendar API)
token.json
credentials.json
