/* Navigation Bar */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side, .right-side {
  display: flex;
  align-items: center; /* Align the content vertically */
}

.right-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* Navigation Links */
.nav-link-wrapper {
  display: inline-block;
  padding: 10px;
  text-decoration: none; /* Move text decoration here */
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link-wrapper:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link-wrapper:hover a {
  color: #000;
}

.active-nav-link, .active-nav-link a {
  border-bottom: 2px solid black;
  color: black !important;
}

/* Brand */
.brand {
  background: linear-gradient(to right, #FF0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2em;
  margin-right: 20px;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Text Entry Boxes (all input types) */
input, textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: border-color 0.3s;

  &:hover, &:focus {
    border-color: #62afe3;
  }
}

/* Submit Buttons */
input[type="submit"] {
  width: 100%;
  background-color: #62afe3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #3c8cb0;
  }
}

/* Normal Text */
p, span, h1, h2, h3, h4, h5, h6 {
  color: #333;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

/* Hover effect for links */
a:hover {
  color: #62afe3;
}

/* Center the Form */
.form {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}
