<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Time Management Dashboard</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Time Management Dashboard</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/hac">HAC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timer">Timer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Welcome, {{ username }}!</h4>
      <p>This dashboard is designed to help you organize your tasks and manage your time efficiently. Stay focused, stay
        organized, and make the most out of your high school experience!</p>
        <hr>
        <p class="mb-0">Start by checking your upcoming tasks and planning your week below.</p>
        <!-- Add a button to go to the task adding page -->
        <a href="/tasks" class="btn btn-primary mt-3">Add Task</a>
        <a href="/remove-tasks" class="btn btn-primary mt-3">Remove Task</a>
      </div>
      
      <div class="row">
        
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upcoming Tasks</h5>
              <ul class="list-group">
                {% for task, priority, duedates in tasks_and_priorities %}
                <li class="list-group-item">
                  {{ task }} (
                  {% if priority == 1 %}
                  Very Important
                  {% elif priority == 0 %}
                  Important
                  {% elif priority == -1 %}
                  Not Important
                  {% else %}
                  Unknown
                  {% endif %}
                  ) Due: {{duedates}}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Today's Calendar Events (Google Calendar)</h5>
              <div class="container">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Event Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in events %}
                    <tr>
                      <td>{{ event['start']['formatted'] }}</td>
                      <td>{{ event['summary'] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Bootstrap JS and dependencies (jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </body>
  
  </html>
