<!DOCTYPE html>
<html>

<head>
    <title>Task Removal</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .delete-button {
            background-color: #fff;
            border: none;
            color: red;
            cursor: pointer;
        }

        .delete-button:hover {
            background-color: red;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Time Management Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="mt-5">Task Removal</h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Action</th>
                </tr>
            </thead>
            <p></p>
            <tbody>
                {% for string in string_list %}
                <tr>
                    <td>{{ string }}</td>
                    <td>
                        <form method="post" action="/delete">
                            <input type="hidden" name="string_to_delete" value="{{ string }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Include Bootstrap JS and jQuery (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
