<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Add this style for the dummy navigation button */
        .nav-button {
            position: absolute;
            top: 10px;
            right: 10px;
            text-decoration: none;
            padding: 10px;
            background-color: #f2f2f2;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        
        <!-- Dummy navigation button in the top right corner -->
        <a href="/save-tasks" class="nav-button">Save Tasks</a>
        
        <form action="{{ url_for('add_task') }}" method="POST">
            <label for="task">Add Task:</label>
            <input type="text" id="task" name="task" required>
            <label for="dropdown_content">Priority:</label>
            <div class = "dropdown_menu">
                <select name="Priority">
                    <option value="EI">Extremely Important</option>
                    <option value="I">Important</option>
                    <option value="NI">Not Important</option>
                </select>
            </div>
            <label for="due">Due Date:</label>
            <input type="date" id="due" name="date" value="" />
            
            <script>
                // Get the current date in the format YYYY-MM-DD
                var currentDate = new Date().toISOString().split('T')[0];
                
                // Set the current date as the default value for the input
                document.getElementById('due').value = currentDate;
            </script>
            
            
            
            <button type="submit">Add</button>
        </form>
        <ul>
            {% for task in tasks %}
            <li>
                {{ task }}
                <form action="{{ url_for('remove_task', task=task) }}" method="POST" style="display: inline;">
                    <button type="submit">Remove</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
